.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/3d-New.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 263px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 331px;
  }
}.u-section-2 {
  background-image: url("images/img.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 821px;
}

.u-section-2 .u-image-1 {
  width: 146px;
  height: 120px;
  margin: 60px auto 0 31px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  text-decoration: underline solid rgb(255, 255, 255);
  font-weight: 500;
  margin: 51px 379px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-family: "Alfa Slab One";
  margin: 42px -80px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 179px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    width: 761px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 241px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 331px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 431px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 762px;
}

.u-section-3 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Sora;
  margin: 101px calc(((100% - 1140px) / 2)) 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px calc(((100% - 1140px) / 2) + 324px) 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-image-1 {
  width: 441px;
  height: 442px;
  background-image: url("images/image002.jpg");
  background-position: 50% 50%;
  margin: -159px 0 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Sora;
  margin: -251px calc(((100% - 1140px) / 2) + 762px) 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 42px calc(((100% - 1140px) / 2)) 0;
}

.u-section-3 .u-text-5 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Sora;
  margin: 52px calc(((100% - 1140px) / 2) + 953px) 0 calc(((100% - 1140px) / 2) + 3px);
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px calc(((100% - 1140px) / 2) + 1px) 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 3.125rem;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 124px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-1 {
    width: 402px;
    height: 402px;
    margin-top: 262px;
    margin-right: calc(((100% - 1140px) / 2) + 20px);
  }

  .u-section-3 .u-text-3 {
    margin-top: -287px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2) + 562px);
  }

  .u-section-3 .u-text-4 {
    margin-top: -244px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-text-5 {
    margin-top: 338px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2) + 756px);
  }

  .u-section-3 .u-text-6 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-top: 72px;
    margin-right: calc(((100% - 1140px) / 2) + 274px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-1 {
    width: 437px;
    height: 437px;
    margin-top: 248px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-text-3 {
    margin-top: -279px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2) + 342px);
  }

  .u-section-3 .u-text-4 {
    margin-top: -273px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-text-5 {
    margin-top: 367px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2) + 536px);
  }

  .u-section-3 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.8125rem;
    margin-top: 101px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-1 {
    width: 459px;
    height: 459px;
    margin-top: 304px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-3 {
    margin-top: -286px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2) + 162px);
  }

  .u-section-3 .u-text-4 {
    margin-top: -465px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-5 {
    margin-top: 413px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2) + 356px);
  }

  .u-section-3 .u-text-6 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-1 {
    height: 340px;
    margin-top: -234px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
    margin-top: -93px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-top: 61px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
    margin-top: -51px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2) + 156px);
  }

  .u-section-3 .u-text-6 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-4 {
  background-image: linear-gradient(#72efe9, #dbff4d);
}

.u-section-4 .u-sheet-1 {
  min-height: 679px;
}

.u-section-4 .u-text-1 {
  margin: 8px 633px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 8px 0 60px -62px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-weight: normal;
    font-family: Sora;
    line-height: 52.8px;
    margin-right: 433px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 213px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1374px;
}

.u-section-5 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Sora;
  width: 576px;
  margin: 39px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Sora;
  margin: 39px 817px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 21px 282px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Sora;
  margin: 39px 634px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 21px 282px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Sora;
  margin: 39px 544px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 21px 282px 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Sora;
  margin: 39px 701px 0 21px;
}

.u-section-5 .u-text-9 {
  margin: 21px 298px 0 -16px;
}

.u-section-5 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #fb907a);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 57px auto 58px;
  padding: 9px 22px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 617px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 82px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 434px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 82px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 344px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 82px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 522px;
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    margin-right: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 397px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 214px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 124px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 302px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 217px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 34px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 122px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 17px;
  }

  .u-section-5 .u-text-4 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 2.25rem;
    margin-right: 0;
  }
}