.elementor-12 .elementor-element.elementor-element-fd384a6 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-12 .elementor-element.elementor-element-fd384a6>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-12 .elementor-element.elementor-element-9cba4f3 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-12 .elementor-element.elementor-element-9cba4f3>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-12 .elementor-element.elementor-element-586be91 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-12 .elementor-element.elementor-element-586be91>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-12 .elementor-element.elementor-element-99cf96e {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-12 .elementor-element.elementor-element-99cf96e>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}